

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <div class="d-flex align-items-center mb-4">
                    <img src="/images/logo.png" class="img-fluid logo-image">

                    <div class="d-flex flex-column">
                        <strong class="logo-text">İşRotası</strong>
                        <small class="logo-slogan">İş Bulma Motoru</small>
                    </div>
                </div>

                <p class="mb-2">
                    <i class="custom-icon bi-globe me-1"></i>

                    <a href="#" class="site-footer-link">
                        www.isrotasi.com
                    </a>
                </p>

                <p class="mb-2">
                    <i class="custom-icon bi-telephone me-1"></i>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p>
                    <i class="custom-icon bi-envelope me-1"></i>

                    <a href="mailto:isrotasi@gmail.com" class="site-footer-link">
                        isrotasi@gmail.com
                    </a>
                </p>

            </div>

            <div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
                <h6 class="site-footer-title"></h6>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a asp-controller="Home" asp-action="Index" class="footer-menu-link">Anasayfa</a></li>
                    <li class="footer-menu-item"><a asp-controller="About" asp-action="Index" class="footer-menu-link">Hakkımızda</a></li>


                    <li class="footer-menu-item"><a asp-controller="JobList" asp-action="Index" asp-route-page="1" class="footer-menu-link">İlanlar</a></li>

                    <li class="footer-menu-item"><a asp-controller="Contact" asp-action="Index" class="footer-menu-link">İletişim</a></li>
                </ul>
            </div>

<div class="col-lg-2 col-md-3 col-6">
                
            </div>

            <div class="col-lg-4 col-md-8 col-12 mt-3 mt-lg-0">
                <h6 class="site-footer-title">E-Bülten</h6>

                <form class="custom-form newsletter-form" asp-controller="Contact" asp-action="Bulten" method="post" role="form">
                    <h6 class="site-footer-title">E-Bültenimize abone olarak değişimlerden en kısa sürede haberdar olun.</h6>
                    <h6>@TempData["Success"]</h6>
                    <h6>@TempData["Error"]</h6>
                    <h6>@TempData["AlreadyExist"]</h6>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi-person"></i></span>

                        <input type="email" name="Email" id="newsletter-name" class="form-control" placeholder="EmailAdresiniz@gmail.com" required>

                        <button type="submit" class="form-control">
                            <i class="bi-send"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="copyright-text">Copyright ©İşRotası @DateTime.Now.Year</p>

                    <ul class="footer-menu d-flex">
                        <li class="footer-menu-item"><a class="footer-menu-link">Privacy Policy</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link">Terms</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-12 mt-2 mt-lg-0">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-linkedin"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>
                    </ul>
                </div>



                <a class="back-top-icon bi-arrow-up smoothscroll d-flex justify-content-center align-items-center" href="#top"></a>

            </div>
        </div>
    </div>
</footer>

